<aside id="sidebar" class="shadow-sm">
    <nav class="nav flex-column">
        <a href="" class="nav-link side-card rounded-15" data-page="inicio">
            <i class="bi bi-speedometer2 me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Inicio</div>
                <small class="text-muted">Canciones recomendadas</small>
            </div>
        </a>

        <a href="../html/playlist.html" class="nav-link side-card rounded-15" data-page="playlist">
            <i class="bi bi-phone me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Playlists</div>
                <small class="text-muted">Gestiona tus canciones favoritas</small>
            </div>
        </a>

        <a href="../html/profile.html" class="nav-link side-card rounded-15" data-page="profile">
            <i class="bi bi-boxes me-3 fs-5"></i>
            <div>
                <div class="fw-semibold">Perfil</div>
                <small class="text-muted">Gestiona tus datos</small>
            </div>
        </a>
    </nav>
</aside>